<section id="hero-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="block wow fadeInUp" data-wow-delay=".3s">

                    <!-- Slider -->
                    <section class="cd-intro">
                        <h1 class="wow fadeInUp animated cd-headline slide" data-wow-delay=".4s">
                            <span>Welcome To Malaysian VISA e-Service</span><br>
                            <span class="cd-words-wrapper">
                                    <b class="is-visible">Your E-VISA Is Just 3 Simple Steps Away</b>
                                    <b>Over 97% VISAs are Approved In A Day</b>
                                    <b>VISA within a week</b>
                                </span>
                        </h1>
                    </section>
                    <!-- cd-intro -->
                    <!-- /.slider -->
                    <!-- <h2 class="wow fadeInUp animated" data-wow-delay=".6s">
                            With 10 years experience, I've occupied many roles including digital design director,<br> web designer and developer. This site showcases some of my work.
                        </h2> -->
                    <a class="btn-lines dark light wow fadeInUp animated smooth-scroll btn btn-default btn-green" data-wow-delay=".9s" id="checkStatus" href="#works" data-section="#works">View Status</a>
                    <a class="btn-lines dark light wow fadeInUp animated smooth-scroll btn btn-default btn-green" data-wow-delay=".9s" id="applyOnline" href="#works" data-section="#works">Apply Online</a>

                </div>
            </div>
        </div>
    </div>
</section>




<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                    <h2>
                        Online e-VISA Application
                    </h2>
                    <p>
                        All foreign visitors to Malaysia must apply for a valid travel authorization in order to enter the country. Eligible applicants can fill out an online eVISA application to visit Malaysia. Applicants will need to complete a simple online eVISA application
                        in order to receive an approved eVISA for Malaysia.
                    </p>
                </div>

            </div>
            <div class="col-md-6 col-sm-6">
                <div class="block wow fadeInRight" data-wow-delay=".3s" data-wow-duration="500ms">
                    <img src="../../assets/images/custom/sample-visa.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>




<section id="call-to-action">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h2 class="title wow fadeInDown" data-wow-delay=".3s" data-wow-duration="500ms">SO WHAT YOU THINK ?</h2>
                    <p class="wow fadeInDown" data-wow-delay=".5s" data-wow-duration="500ms">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis,<br>possimus commodi, fugiat magnam temporibus vero magni recusandae? Dolore, maxime praesentium.</p>
                    <a href="contact.html" class="btn btn-default btn-contact wow fadeInDown" data-wow-delay=".7s" data-wow-duration="500ms">Contact With Me</a>
                </div>
            </div>

        </div>
    </div>
</section>