#checkStatus {
    -webkit-transition: background-color 1s;
    transition: background-color 1s;
}

#checkStatus:hover {
    background-color: #0a3549!important;
}

#applyOnline {
    -webkit-transition: background-color 1s;
    transition: background-color 1s;
}

#applyOnline:hover {
    background-color: #0a3549!important;
}